---
const lenguajes = [
  {
    name: 'HTML5',
    icon: 'devicon-html5-plain colored',
  },
  {
    name: 'SCSS',
    icon: 'devicon-sass-original colored',
  },
  {
    name: 'CSS3',
    icon: 'devicon-css3-plain colored',
  },
  {
    name: 'JavaScript',
    icon: 'devicon-javascript-plain colored',
  },
  {
    name: 'TypeScript',
    icon: 'devicon-typescript-plain colored',
  },
  {
    name: 'Python',
    icon: 'devicon-python-plain',
  },
  {
    name: 'Java',
    icon: 'devicon-java-plain colored',
  },
  {
    name: 'MySQL',
    icon: 'devicon-mysql-plain colored',
  },
  {
    name: 'MongoDB',
    icon: 'devicon-mongodb-plain colored',
  },
  {
    name: 'PostgreSQL',
    icon: 'devicon-postgresql-plain colored',
  },
];
const frameworks = [
  {
    name: 'FastAPI',
    icon: 'devicon-fastapi-plain colored',
  },
  {
    name: 'Express',
    icon: 'devicon-express-original colored',
  },
  {
    name: 'Angular',
    icon: 'devicon-angularjs-plain colored',
  },
  {
    name: 'Node.js',
    icon: 'devicon-nodejs-plain colored',
  },
  {
    name: 'Laravel',
    icon: 'devicon-laravel-plain colored',
  },
  {
    name: 'Spring Boot',
    icon: 'devicon-spring-plain colored',
  },
  {
    name: 'Tailwind CSS',
    icon: 'devicon-tailwindcss-plain colored',
  },
  {
    name: 'Bootstrap',
    icon: 'devicon-bootstrap-plain colored',
  },
];
const herramientas = [
  {
    name: 'Git',
    icon: 'devicon-git-plain colored',
  },
  {
    name: 'GitHub',
    icon: 'devicon-github-original colored',
  },
  {
    name: 'VS Code',
    icon: 'devicon-visualstudio-plain colored',
  },
  {
    name: 'Postman',
    icon: 'devicon-postman-plain colored',
  },
  {
    name: 'Docker',
    icon: 'devicon-docker-plain colored',
  },
  {
    name: 'Notion',
    icon: 'devicon-notion-plain colored',
  },
  {
    name: 'Figma',
    icon: 'devicon-figma-plain colored',
  },
];
---

<link
  rel='stylesheet'
  type='text/css'
  href='https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css'
/>
<section
  id='tecnologias'
  class='w-full'
>
  <h2
    class='text-3xl justify-center font-bold mb-4 text-gray-900 dark:text-white text-center'
  >
    Lenguajes de Programación
  </h2>
  <div class='rounded-xl p-3 flex justify-center flex-wrap w-full gap-x-6'>
    {
      lenguajes.map((tech) => (
        <div class='flex items-center gap-2 m-2 p-2 shadow-md bg-gray-200 rounded-lg cursor-pointer'>
          <i class={tech.icon} />
          <span>{tech.name}</span>
        </div>
      ))
    }
  </div>

  <h2
    class='text-3xl font-bold mb-4 mt-12 text-gray-900 dark:text-white text-center'
  >
    Frameworks y Librerías
  </h2>
  <div class='rounded-xl p-3 flex justify-center flex-wrap w-full gap-x-6'>
    {
      frameworks.map((tech) => (
        <div class='flex items-center gap-2 m-2 p-2 shadow-md bg-gray-200 rounded-lg cursor-pointer'>
          <i class={tech.icon} />
          <span>{tech.name}</span>
        </div>
      ))
    }
  </div>

  <h2
    class='text-3xl font-bold mb-4 mt-12 text-gray-900 dark:text-white text-center'
  >
    Herramientas
  </h2>
  <div
    class='rounded-xl justify-center text-md p-3 flex text-center flex-wrap w-full gap-x-6'
  >
    {
      herramientas.map((tech) => (
        <div class='flex items-center gap-2 m-2 p-2 shadow-md bg-gray-200 rounded-lg cursor-pointer'>
          <i class={tech.icon} />
          <span>{tech.name}</span>
        </div>
      ))
    }
  </div>
</section>
